@inherits LayoutComponentBase

<PageTitle>SeeYourSky</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<HeadContent>
    <!-- Primary Meta Tags -->
    <title>See the Astronomy Picture of The Day you were born!</title>
    <meta name="title" content="SeeYourSky">
    <meta name="description" content="See the Astronomy Picture of The Day you were born!">


    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://seeyoursky.com/">
    <meta property="og:title" content="SeeYourSky">
    <meta property="og:description" content="See the Astronomy Picture of The Day you were born!">
    <meta property="og:image" content="https://apod.nasa.gov/apod/image/1503/NGC602Web_goldman.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://seeyoursky.com/">
    <meta property="twitter:title" content="SeeYourSky">
    <meta property="twitter:description" content="See the Astronomy Picture of The Day you were born!">
    <meta property="twitter:image" content="https://apod.nasa.gov/apod/image/1503/NGC602Web_goldman.jpg">
</HeadContent>

<div class="page">


    <main>

        <MudAppBar Elevation="1" Fixed="false" Color="Color.Transparent">
            <MudSpacer />
            <NavLink class="nav-link" href="/">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink><NavLink class="nav-link" href="patrons">
                <span class="oi oi-heart" aria-hidden="true"></span> Patrons
            </NavLink>
            <a href="https://twitter.com/behlulcansahin" target="_blank"><MudIconButton Icon="@Icons.Custom.Brands.Twitter" /></a>


        </MudAppBar>


        <article class="content px-4">

            <a href="mailto:behlulcansahin@gmail.com?subject=I%20Want%20To%20Reach%20Sky%20High%20Audiences!" id="reklam" class="reklam" style="@reklamDisplayStyle">
                           </a>
            <a href="mailto:behlulcansahin@gmail.com?subject=I%20Want%20To%20Reach%20Sky%20High%20Audiences!" id="reklam2" class="reklam2" style="@reklam2DisplayStyle">

            </a>
            @Body

        </article>
    </main>
</div>
@code {
    private string reklamDisplayStyle = "display: block;";
    private string reklam2DisplayStyle = "display: none;";
    private void HandleReklamClick()
    {
      
        Console.WriteLine("Reklam clicked");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ToggleReklam();
        }
    }

    private async Task ToggleReklam()
    {
        while (true)
        {
            await InvokeAsync(() =>
            {
                if (reklamDisplayStyle == "display: block;")
                {
                    reklamDisplayStyle = "display: none;";
                    reklam2DisplayStyle = "display: block;";
                }
                else
                {
                    reklamDisplayStyle = "display: block;";
                    reklam2DisplayStyle = "display: none;";
                }

                StateHasChanged();
            });

            await Task.Delay(5000); // Wait for 5 seconds before toggling again
        }
    }
}