@inherits LayoutComponentBase

<PageTitle>YourSky</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    

    <main>
        <div class="top-row px-1">
            <a href="https://twitter.com/behlulcansahin" target="_blank"><MudIconButton Icon="@Icons.Custom.Brands.Twitter"/></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

