using System;
namespace yoursky.Pages
{
    public class Index
    {
        public Index()
        {
        }
    }
}

@font-face {
    font-family: 'MyFont';
    src: url('/bj.otf');
}@font-face {
    font-family: 'MyFont2';
    src: url('/mp.ttf');
}
h1 {
    font-family: 'MyFont';
    color:black;
    font-size:36px;
    width:fit-content;
    
    
    
}
.b {
    font-family:'MyFont2';
    color:black;
    justify-content:center;
    align-items:center;
    line-height:0px;
    
}
obje {
    
    width:300px;
    justify-content:center;
    align-items:center;
    
    
}
div {
    flex:1;
    padding:50px;
    margin-top:150px;
    justify-content:center;
    align-items:center;
    
    
    
}
bson {
    
    font-family:'MyFont2';
    justify-content:center;
    
    margin-bottom:1px;
}bsons {
    
    font-family:'MyFont2';
    justify-content:center;
    opacity:0.6;
    margin-bottom:1px;
}
.flip-card {
    height: 300px;
    perspective: 1000px;
}
    .flip-card > * {
        backface-visibility: hidden;
        transition: transform 0.6s ease;
        transform-style: preserve-3d;
        transition: transform 1s ease;
    }

    .flip-card .back-image {
        transform: rotateY(180deg);
    }